<div class="pure-u-1-1">

    <form action="https://tinyletter.com/darskakaoo" method="post" target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/darskakaoo', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p>
            <label for="tlemail">
                ما در حال آماده کردن یک نسخه قرارداد برش کیک با توجه به قوانین کشور هستیم. اگر
                مایلید نسخه‌ی ایرانی قرارداد برش کیک رو داشته باشید، ایمیلتون رو وارد کنید :)
            </label>
        </p>
        <div class="email-group">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-sm-1 pure-u-md-2-3 pure-u-lg-2-3 pure-u-xl-3-5">
                    <input type="text" name="email" id="tlemail" placeHolder="ایمیل" />
                    <input type="hidden" value="1" name="embed" />
                </div>
                <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-2-5">
                    <button class="button" type="submit">عضویت</button>
                </div>
            </div>
        </div>
        <h5 class="powered-by">
            <a href="https://tinyletter.com" target="_blank">قدرت گرفته از TinyLetter</a>
        </h5>
    </form>


    <h3>
        ما
        <a href="https://darskakaoo.ir">درس کاکائو</a>
        رو ساختیم تا بتونیم یه تاثیر کوچیکی در فرآیند آموزش داشته باشیم. تو
        فرآیند تیم‌سازی و کار‌کردن،
        <a href="https://slicingpie.com">برش کیک</a>
        خیلی به ما کمک کرد.
        خوشحالیم که
        <a href="https://en.wikipedia.org/wiki/Mike_Moyer">مایک</a>
        به ما اجازه داد این ترجمه رو در دسترسی همه قرار بدیم :)
    </h3>
</div>