<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Slicing Pie by Mike Moyer.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">


    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">

    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/side-menu.css">

    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css">

    <title>{{ page.title }}</title>

    {% include analytics.html %}
</head>