@import url(style.css);

body {
    background-color: white
}

.pure-g [class*=pure-u] {
    font-family: dana;
}

.center-img {
    width: unset;
    height: 250px;
}

.big-title {
    font-size: 5em;
    font-weight: 900;
}

.little-title {
    font-size: 3em
}

.tiny-title {
    font-size: 2em
}

.center-g {
    margin: 0 auto;
    padding: 10px;
}

a {
    color: #b51518;
    text-decoration: none
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;

    border-top: 2px dashed;
}

.next {
    text-align: left;
}

.prev {
    text-align: right;
}

p {
    font-size: 1.3em;
}

.content {
    margin-top: 100px;
    text-align: justify;
}

.pure-table {
    margin: auto;
}

.pure-table,
.pure-table * {
    text-align: center;
    vertical-align: middle;
}

blockquote {
    border-color: #b51518;
}

blockquote strong {
    color: #b51518;
    display: block;
    font-weight: bold;
}

blockquote * {
    font-weight: normal;
}