<!DOCTYPE html>

{% if page.collection %}
{% assign next = null%}
{% assign prev = null%}
{% endif %}
{% assign sorted = site.collections | sort: 'index' %}
{% for collection in sorted %}
{% assign collectionLoop = forloop %}
{% assign links = site[collection.label] %}
{% for link in links %}
{% if link.id == page.id %}

{% unless forloop.first and collectionLoop.first %}
{% assign prev = tmpprev %}
{% endunless %}

{% unless forloop.last %}
{% assign next = links[forloop.index] %}
{% else%}
{% unless collectionLoop.last %}
{% assign nextCollection = sorted[collectionLoop.index].label %}
{% assign next = site[nextCollection][0] %}
{% endunless %}
{% endunless %}

{% endif %}
{% assign tmpprev = link %}
{% endfor %}
{% endfor %}

<html>

    {% include head.html %}

    <body>
        <div id="layout">
            <!-- Menu toggle -->
            <a class="menu-link" href="#menu" id="menuLink">
                <!-- Hamburger icon -->
                <span></span>
            </a>

            <div id="menu">
                <div class="pure-menu">
                    <ul class="pure-menu-list">
                        {% assign sorted = site.collections | sort: 'index' %}
                        {% for collection in sorted %}
                        <div class="pure-menu-heading">{{ collection.name }}</div>
                        {% for link in site[collection.label] %}
                        <li class="pure-menu-item">
                            {% if link.title == page.title %}
                            <div class="pure-menu-link current">
                                {{link.title}}
                            </div>
                            <ul class="pure-menu-list" id="innerParts"></ul>
                            {% else %}
                            <a class="pure-menu-link" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">
                                {{link.title}}
                            </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="pure-g" id="content">
                <div class="center-g pure-u-1 pure-u-sm-1 pure-u-md-2-3 pure-u-lg-1-2 pure-u-xl-2-5">
                    <div class="pure-g">
                        <div class="pure-u-1-1 content">
                            {{ content }}
                        </div>


                        <div class="prev pure-u-1-2">
                            {% if prev %}
                            <h2>
                                <a href="{{ site.url }}{{ site.baseurl }}{{ prev.url }}">
                                    &lt; {{ prev.title }}
                                </a>
                            </h2>
                            {% endif %}
                        </div>


                        <div class="next pure-u-1-2">
                            {% if next %}
                            <h2>
                                <a href="{{ site.url }}{{ site.baseurl }}{{ next.url }}">
                                    {{ next.title }} &gt;
                                </a>
                            </h2>
                            {% endif %}
                        </div>


                        {% include footer.html %}
                    </div>
                </div>
            </div>
            <script src="{{ site.url }}{{ site.baseurl }}/assets/js/menu.js"></script>

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/katex.min.css"
                integrity="sha384-BdGj8xC2eZkQaxoQ8nSLefg4AV4/AwB3Fj+8SUSo7pnKP6Eoy18liIKTPn9oBYNG"
                crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/katex.min.js"
                integrity="sha384-JiKN5O8x9Hhs/UE5cT5AAJqieYlOZbGT3CHws/y97o3ty4R7/O5poG9F3JoiOYw1"
                crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/math.js"></script>
            <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/table.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
            <script>
                $('h2,h3,h4,h5,h6').filter('[id]').each(function () {
                    const factor = parseInt($(this)[0].localName[1]);
                    const padding = factor * 10;
                    console.log(factor)
                    const item = '<a href="#' + $(this).attr('id') + '">' + $(this).text() + '</a>'
                    $(this).html(item);

                    const sideItem = '<li class="pure-menu-item internalLink" >' +
                        '<a href="#' +
                        $(this).attr('id') +
                        '" class="pure-menu-link"' +
                        'style="padding-right: ' + padding + 'px; ">' +
                        $(this).text() +
                        '</a>' +
                        '</li>'
                    $('#innerParts').append(sideItem)
                });
            </script>
        </div>
    </body>

</html>